.title {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    color: #f9faf8
}

.header {
    background-color: #1f2937;
    padding-bottom: 100px;
}

.title h2 {
    font-size: 24px;
    font-weight: bold;
}

.title ul {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    list-style: none;
}

li {
    text-align: center;
    margin-top: 10px;
}

.body1 {
    background-color: #1f2937;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 250px;
}

.sign-up h2{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    width: 300px;
    margin-bottom: 0;
}

.sign-up p{ 
    width: 350px;
    margin-top: 0;
}

.sign-up button {
    background-color: #3882F6;
    color: white;
    border-radius: 12px;
    padding: 10px 25px;
    font-weight: bold;
    font-size: 18px;
}

.body1 img {
    display: block;
    margin-top: 50px;
}